* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0px 10px;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 1280px;
  margin: 20px auto;
}
.none {
  display: none;
}

/* header section */
.logo img {
  display: block;
  margin: 0px auto;
  margin-bottom: 20px;
  width: 60%;
}
button {
  padding: 10px 25px;
  border-radius: 8px;
  border: transparent;
  background-color: rgb(184, 184, 184);
  font-size: 17px;
}
.sort-btn button {
  float: left;
  margin-bottom: 10px;
}
.blog-btn a button {
  background-color: rgb(225, 65, 78);
  color: white;
  float: right;
  cursor: pointer;
}
.line {
  position: relative;
  top: 20px;
  width: 100%;
}

/* all tabs section */
.all-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 40px 0px 20px 0px;
}
.all-tabs div {
  margin-bottom: 10px;
}
.all-tabs div a {
  padding: 10px 25px;
  border-radius: 7px;
  background-color: rgb(184, 184, 184);
  font-size: 17px;
}

/* all cards section */
.all-cards {
  display: grid;
  gap: 20px;
  margin: 40px 0px;
}
.card-img {
  position: relative;
}
.card .card-img img {
  width: 100%;
  height: 55vw;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.overlay {
  background: rgb(51, 51, 51);
  width: max-content;
  padding: 5px 7px;
  border-radius: 5px;
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 13px;
}
.card-profile-text {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-top: 10px;
}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  /* display: flex;align-items: center;
  justify-content: center; */
}
.text .title {
  font-weight: 600;
  font-style: 20px;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.name {
  margin: 10px 0px;
}
.name,
.view {
  color: rgb(116, 116, 116);
}
.name-varified {
  display: flex;
  gap: 5px;
  align-items: center;
}
.name-varified img {
  width: 20px;
  height: 20px;
}

/* error section */
.error {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.error-img {
  width: 50%;
  margin: 0px auto;
}
.error-text h1 {
  text-align: center;
}

/* responsive design */
@media screen and (min-width: 440px) {
  .logo img {
    width: 100%;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0px 30px 0px;
  }
  .logo img {
    margin-bottom: 0px;
  }
  .line {
    top: 0px;
  }
  .sort-btn button {
    margin-bottom: 0px;
  }
  .all-tabs {
    margin: 30px 0px 20px 0px;
  }
  .error-img {
    width: 150px;
  }
}
.material-symbols-outlined {
  color: rgb(65, 166, 225);
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" -25, "opsz" 20;
}

@media screen and (min-width: 490px) {
  .all-tabs div {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 640px) {
  .all-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card .card-img img {
    height: 30vw;
  }
}

@media screen and (min-width: 768px) {
  .all-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .card .card-img img {
    height: 20vw;
  }
}

@media screen and (min-width: 1024px) {
  .all-cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .card .card-img img {
    height: 15vw;
  }
}

@media screen and (min-width: 1280px) {
  .card .card-img img {
    height: 14vw;
  }
}
@media screen and (min-width: 1536px) {
  .card .card-img img {
    height: 200px;
  }
}
